<?xml version="1.0"?>
<config>
	<type>theme</type>
	<view>pc</view>
	<name>
		<en>XE Style</en>
		<ko>XE 스타일</ko>
	</name>
	<version>0.1</version>
	<short>
		<en></en>
		<ko></ko>
	</short>
	<detail>
		<en></en>
		<ko></ko>
	</detail>
	<menu>
		<top>
			<name>
				<en>Menu Top</en>
				<ko>상단 톱 메뉴</ko>
			</name>
			<max>4</max>
		</top>
		<left>
			<name>
				<en>Menu Left</en>
				<ko>왼쪽 메뉴</ko>
			</name>
			<max>3</max>
		</left>
		<right>
			<name>
				<en>Menu Right</en>
				<ko>오른쪽 메뉴</ko>
			</name>
			<max>3</max>
		</right>
		<bottom>
			<name>
				<en>Menu Bottom</en>
				<ko>하단 메뉴</ko>
			</name>
			<max>4</max>
		</bottom>
	</menu>
</config>
